extends layout
block content
    section#welcome
        div Welcome to presence server !
        div#button
                a#presenceps(type='button', class='btn1', href='#') connect new ps
                a#presencepatient(type='button', class='btn1', href='#') Connect new patient
block append head
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='js/client.js')
    
