doctype html
html
    block head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    body
        header#banner
            h1 Presence app
        block content
        footer h2ad 
